.logo{max-width: 90% !important;}



/*#search .input-group .form-control{
    background: none;
    color: #222;
    font-size: 14px;
    padding: 5px;
    text-align: center;
    border: 2px solid #222;
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}*/

/*#search .input-group .form-control::placeholder { 
  color:#222;
  opacity: 1;
  font-size:14px;
}*/

/*#search .input-group .form-control:-ms-input-placeholder { 
  color:#222;
  font-size:14px;
}*/

/*#search .input-group .form-control::-ms-input-placeholder { 
  color:#222;
  font-size:14px;
}*/

/*#search .input-group .input-group-text{
	background: none;
	padding: 5px;
	text-align: center;
    border: 2px solid #222;
    border-left: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}*/
/*#search .input-group .input-group-text button{
	border: none;
    background: none;
	
}*/
/*#search .input-group .input-group-text img{
	
}*/

#main-menu-desktop{}
#main-menu-desktop nav.navbar{
  background-color: rgba(255, 255, 255, 0.85);
  font-family: "GE-SS Two Medium";
  box-shadow: -4px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

#main-menu-desktop .navbar-nav>li>a.nav-link {
  padding-right: 15px;
  padding-left: 15px;
  font-size: 15px;
  color:#282160;
  font-family: "GE-SS Two Medium";
}
#main-menu-desktop .navbar-nav>li>a.nav-link:hover {
  color:#BC9B6A;
}

#main-menu-desktop .navbar-nav>li>a.nav-link.active {
  color:#BC9B6A;
  font-family: "GE-SS Two Bold";
}
#main-menu-desktop .navbar-nav.langSwitcher-desktop>li>a.nav-link.active {
  color: #FFD200 !important;
  font-family: "GE-SS Two Medium";
}

#main-menu-mobile .offcanvas{
  background-color: #fff;
}


